<f:layout name="Default" />

	<f:section name="content">
		<h1>Eventliste</h1>

		<f:form action="list" additionalAttributes="{role:'form'}">
			<div class="form-inline">
				<div class="form-group">
					<f:form.textfield name="search" value="{search}" class="form-control"/>
					<f:form.submit value="Search!" class="btn-xs btn-primary"/>
				</div>
			</div>
		</f:form>

		<ul class="list-group">
			<f:for each="{events}" as="event">
				<li class="list-group-item">{event.name}
				<f:link.action action="show" arguments="{event:event}" class="btn btn-primary btn-xs pull-right"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> ansehen</f:link.action></li>
			</f:for>
		</ul>
	</f:section>
